{{#extends "base"}}

  {{#block "title"}}🧠 Update Availability{{/block}}

  {{#block "content"}}
    <section class="text-center mt-8 mb-6">
      <a
        href="/user/change-password"
        class="text-yellow-400 hover:text-white border border-yellow-400 hover:bg-yellow-500 focus:ring-4 focus:outline-none focus:ring-yellow-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:border-yellow-300 dark:text-yellow-300 dark:hover:text-white dark:hover:bg-yellow-400 dark:focus:ring-yellow-900"
      >Change Password</a>
    </section>

    <form method="post" class="col-span-3">
      <input type="hidden" name="_csrf" value="{{csrfToken}}" />
      <div
        class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-2 gap-6"
      >
        {{#each allOrgs}}
          <div
            class="mb-5 w-full bg-gray-900 rounded-lg shadow-lg p-12 justify-center items-center"
          >
            <p class="text-xl text-white font-bold mb-4">Updating for
              {{this.org_name}}</p>
            <!--Female start-->
            <p class="text-xl text-gray-400 font-normal mb-3"><i
                class="fas fa-female"
              ></i>
              Female</p>
            <label class="block text-gray-300 text-sm font-bold mb-1">
              Capacity
            </label>
            <input
              class="shadow appearance-none border rounded mb-4 w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
              value={{this.female_capacity}}
              type="tel"
              name="female_capacity{{this.order}}"
              placeholder=""
            />
            <label class="block text-gray-300 text-sm font-bold mb-1">
              Pending
            </label>
            <input
              class="shadow appearance-none border rounded mb-4 w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
              value={{this.female_pending}}
              type="tel"
              name="female_pending{{this.order}}"
              placeholder=""
            />
            <label class="block text-gray-300 text-sm font-bold mb-1">
              Available
            </label>
            <input
              class="shadow appearance-none border rounded mb-4 w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
              value={{this.female_available}}
              type="tel"
              name="female_available{{this.order}}"
              placeholder=""
            />
            <!--Female end-->

            <!--Male start-->
            <p class="text-xl text-gray-400 font-normal mb-3 mt-5"><i
                class="fas fa-male"
              ></i>
              Male</p>
            <label class="block text-gray-300 text-sm font-bold mb-1">
              Capacity
            </label>
            <input
              class="shadow appearance-none border rounded mb-4 w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
              value={{this.male_capacity}}
              type="tel"
              name="male_capacity{{this.order}}"
              placeholder=""
            />
            <label class="block text-gray-300 text-sm font-bold mb-1">
              Pending
            </label>
            <input
              class="shadow appearance-none border rounded mb-4 w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
              value={{this.male_pending}}
              type="tel"
              name="male_pending{{this.order}}"
              placeholder=""
            />
            <label class="block text-gray-300 text-sm font-bold mb-1">
              Available
            </label>
            <input
              class="shadow appearance-none border rounded mb-4 w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
              value={{this.male_available}}
              type="tel"
              name="male_available{{this.order}}"
              placeholder=""
            />
            <!--Male end-->

            {{#if this.special_prog_name}}
              <hr class="mt-4" />
              <!--Special Program Start-->
              <p class="text-xl text-gray-200 font-bold my-4">
                Special Programme:
                {{this.special_prog_name}}</p>
              <!--Female start-->
              <p class="text-xl text-gray-400 font-normal mb-3"><i
                  class="fas fa-female"
                ></i>
                Female</p>
              <label class="block text-gray-300 text-sm font-bold mb-1">
                Capacity
              </label>
              <input
                class="shadow appearance-none border rounded mb-4 w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                value={{this.special_prog_female_capacity}}
                type="tel"
                name="special_prog_female_capacity{{this.order}}"
                placeholder=""
              />
              <label class="block text-gray-300 text-sm font-bold mb-1">
                Pending
              </label>
              <input
                class="shadow appearance-none border rounded mb-4 w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                value={{this.special_prog_female_pending}}
                type="tel"
                name="special_prog_female_pending{{this.order}}"
                placeholder=""
              />
              <label class="block text-gray-300 text-sm font-bold mb-1">
                Available
              </label>
              <input
                class="shadow appearance-none border rounded mb-4 w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                value={{this.special_prog_female_available}}
                type="tel"
                name="special_prog_female_available{{this.order}}"
                placeholder=""
              />
              <!--Female end-->

              <!--Male start-->
              <p class="text-xl text-gray-400 font-normal mb-3 mt-5"><i
                  class="fas fa-male"
                ></i>
                Male</p>
              <label class="block text-gray-300 text-sm font-bold mb-1">
                Capacity
              </label>
              <input
                class="shadow appearance-none border rounded mb-4 w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                value={{this.special_prog_male_capacity}}
                type="tel"
                name="special_prog_male_capacity{{this.order}}"
                placeholder=""
              />
              <label class="block text-gray-300 text-sm font-bold mb-1">
                Pending
              </label>
              <input
                class="shadow appearance-none border rounded mb-4 w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                value={{this.special_prog_male_pending}}
                type="tel"
                name="special_prog_male_pending{{this.order}}"
                placeholder=""
              />
              <label class="block text-gray-300 text-sm font-bold mb-1">
                Available
              </label>
              <input
                class="shadow appearance-none border rounded mb-4 w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                value={{this.special_prog_male_available}}
                type="tel"
                name="special_prog_male_available{{this.order}}"
                placeholder=""
              />
              <!--Male end-->
              <!--Special Program End-->
            {{/if}}
            <hr class="mt-4" />
            <p class="text-xl text-gray-400 font-normal mb-3 mt-5">
              <i class="far fa-comment"></i>
              Special Remarks</p>
            <input
              class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
              value="{{this.special_remarks}}"
              type="text"
              name="special_remarks{{this.order}}"
              id="special_remarks{{this.order}}"
              placeholder=""
            />
            <p
              class="text-white text-xs text-left italic mb-4 mt-2"
              id="count{{this.order}}"
            ></p>
          </div>
        {{/each}}
      </div>
      <button
        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
        type="submit"
      >
        Update
      </button>
    </form>

  {{/block}}

  {{#block "js"}}
    <script>
      let countChars = (i) => { let specialRemarks =
      document.getElementById(`special_remarks${i.toString()}`);
      specialRemarks.onkeyup = () => { let maxLength = 800; if
      (specialRemarks.value.length < maxLength) {
      document.getElementById(`count${i.toString()}`).innerHTML =
      `${specialRemarks.value.length}/800` } else {
      document.getElementById(`count${i.toString()}`).innerHTML = `<span
      class="text-red-100">${specialRemarks.value.length}/800 You have exceeded
      the maximum number of characters</span>` } } } ; for (let i=1;i<4;i++) {
      countChars(i) }
    </script>
  {{/block}}
{{/extends}}
